:root {
    --main-color: #2196F3;
    --secondary-color: #000;
    --third-color: #757575;
    --main-font: 'roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* components */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
    color: var(--main-color);
}
.section-header  {  
    letter-spacing: 0.03em;
    color: #212121;
}
.section-description {
    letter-spacing: 0.03em;
    color: var(--third-color);
}
.section-top-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* /components */
/* header */
.main-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    margin-top: 0;
    margin-bottom: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation {
    display: flex;
}
.logo-top {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
}
.logo-half {
    color: var(--secondary-color);
}
.navigation-pages {
    display: flex;
    margin-left: 93px;
}
.navigation-page {
    display: flex;
}
.navigation-page-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-page:not(:last-child) {
    margin-right: 50px;
}
.contacts {
    display: flex;
}
.contact:not(:first-child) {
    margin-left: 50px;
}
.contact-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    color: var(--main-color);
}  
.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: '';
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: var(--main-color)
}
.navigation-page-link:hover, 
.navigation-page-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--main-color);
}
.icon {
    margin-right: 10px;
    fill: var(--third-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .icon,
.contact-link:focus .icon {
    fill: var(--main-color);
}
/* /header */
/* hero */
.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background.png) ;
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* /hero */
/* advantages */
.our-advantages {
    display: flex;
    justify-content: space-between;
}
.our-advantage {
    width: 270px;
}
.our-advantage-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    width: 270px;
    margin-bottom: 10px;
}
.our-advantage-text {
    font-size: 14px;
    line-height: 1.71;
}
.advantage-icons {
    height: 120px;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.advantage-icon {
}    
/* /advantages */
/* examples */
.examples {
    padding-bottom: 94px;
}
.our-examples {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.our-example {
    position: relative;
}
.our-example-text-wrap {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.our-example-text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
/* /examples */
/* our team */
.team {
    background: #F5F4FA;
}
.team-units {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-unit {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-unit-info {
    padding: 30px 10px 30px 10px;
}
.team-unit-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team-unit-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.social-link-item {
    display: flex;
}
.social-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item:not(:last-child) {
    margin-right: 10px;
}
.social-link-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--main-color);
}
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
    fill: #fff;
}
/* /our team */
/* clients */
.clients-units {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.clients-unit {
    display: flex;
}
.clients-unit:not(:last-child) {
    margin-right: 30px;
}
.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
   border: 1px solid var(--main-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--main-color);
}
/* /clients */
/* filter */
.portfolio-filter {
    
}
.portfolio-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-filter-list-item:not(:last-child) {
    margin-right: 8px;
}
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    border-width: 0px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
    background: var(--main-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-examples {
    padding-bottom: 80px;
}
.portfolio-examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   
.portfolio-example-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.img {
    display: block;
}
.portfolio-example-description {
    font-size: 16px;
    line-height: 1.87;
}
.portfolio-example-text {
    padding: 20px 24px;
    border: #EEEEEE solid 1px;
    border-top: none;
}   
.portfolio-example:nth-child(-n+6) {
    margin-bottom: 30px;
}
.portfolio-link {
    position: relative;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-example-overlay-wrap {
    top: 0;
    width: 370px;
    height: 294px;
    position: absolute;
    overflow: hidden;
}
.portfolio-example-overlay {
    top: 0;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-example-overlay,
.portfolio-link:focus .portfolio-example-overlay {
    visibility: visible;
    transform: translate(0, 0);
}
.portfolio-example-overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
/* /filter */
/* footer */
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: left;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.contacts-container {
    margin-right: 70px;
}

.logo-bot {
    display: block;
    margin-bottom: 20px;
}
.logo-half-dark {
    color: #FFFFFF;
}
.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contacts-list {
    
}
.contacts-bot {
   
}
.contact-bot {
    display: flex;
    flex-direction: column;
}
.contact-bot:not(:last-child) {
    margin-bottom: 9px;
}
.map {
    color: #FFFFFF;    
}
.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--main-color);
}
.socials-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-socials {
    display: flex;
}
.footer-social-link-item {
    display: flex;
}
.footer-social-link-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link-icon {
    fill: #FFFFFF;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--main-color);
}
.subscribe-wrap {
    margin-left: 93px;
}
.subscribe-input-form {
    display: flex;
    align-items: center;
}
.subscribe-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin: 0;
    background: transparent;
    padding: 15px 16px;
    color: #FFFFFF;
}
.subscribe-btn {
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background: #188CE8;
    border-radius: 4px;
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-btn-text {
    display: block;
}
.subscribe-icon {
    fill: #FFFFFF;
    margin-left: 10px;
}
/* /footer */
/* modals */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #2196F3;
}  
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.modal-form-toaction {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.modal-form-input {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.input-wrap {
    position: relative;
    margin-bottom: 10px;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
    width: 100%;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus {
    border: 1px solid #2196F3;
}
.modal-form-field:focus + .modal-form-icon {
    fill: #2196F3;
}
.modal-form-comment {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
    border: 1px solid #2196F3;
}
.modal-form-checkbox-wrap {
    position: relative;
}
.aggreement-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 25px;
}
.aggreement-label::before {
    left: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    content: '';
    background-image: url(../images/box.svg);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aggreement-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}
.modal-form-checkbox:checked + .aggreement-label::before {
    background-image: url(../images/check.svg);
}
.modal-form-checkbox:hover + .aggreement-label::before,
.modal-form-checkbox:focus + .aggreement-label::before {
    outline: 2px solid #2196F3;
}
.submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 55px;
    background: #188CE8;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
    background: #2196F3;
    
}
/* /modals */